.card {
	width: 100%;
	background: #fff;
	border-radius: 5px;
	padding: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	display: grid;
	grid-template-columns: 5% 95%;
	gap: 20px;
}
.card:hover {
	opacity: 0.5;
}
.card:active {
	opacity: 0.2;
}
.card p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}
.card.active {
	background: #1495d9;
	color: #fff;
}
